.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

main {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #2d8cff;
}

.join-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #2d8cff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.join-button:hover {
    background-color: #2272cc;
}